*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* margin: 0; */
}

body,
#app {
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  height: 100dvh;
  max-height: 100dvh;
  min-height: 100dvh;

  margin: 0
}

/* Positive classes */
@media (width > 720px) {

  .mobile,
  .mobile-large,
  .mobile-small {
    display: none !important;
  }
}

@media (465px < width <=720px) {

  .desktop,
  .mobile-small {
    display: none !important;
  }
}

@media (width <=465px) {

  .desktop,
  .mobile-large {
    display: none !important;
  }
}

/* Negative classes */
@media (width <=465px) {
  .not-mobile-small {
    display: none !important;
  }
}
